* { font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; color:#333; }
body { margin:auto; text-align:center; background:#f9f9f9; margin-bottom:50px; }

div#page { text-align:center; font-size:9pt; margin:auto; width:900px; }
div#page > * { text-align:left; }
div.flex { display: flex; }
div.flex div.column { margin: 5px; width: 50%; }

table.table { width: 100%; }
table.table.border { border-collapse: separate; border-spacing: 1px; background:#DDD; }
table.table.border > thead, table.table.border > tbody { background:#f9f9f9; }
table.table > thead > tr > th, table.table > tbody > tr > th { background:#EEE; font-weight:bold; padding:5px 10px; }
table.table > tbody > tr > td { padding:5px 10px; }
table.table > tbody > tr > td.number { text-align:right; }
.diagonal { background-image: linear-gradient(-45deg, #fff 25%, #ccc 25%, #ccc 50%, #fff 50%, #fff 75%, #ccc 75%, #ccc)!important; background-size: 4px 4px !important; }

input { border-radius:5px; padding:3px 5px; border:solid 1px #AAA; }
input[type=text].amount { width: 50px; }
.amount.cost { color:red; }
.amount { text-align:right; }

input[type=text].age { width: 50px; }
.right { text-align:right; }

.bold { font-weight: bold; }

span:has(span.balloon) { position:relative; display: block; text-decoration: underline; cursor: pointer; }
.balloon { position:absolute; left:30px; bottom:20px; padding:10px; border:solid 2px #ddd; background: #f9f9f9; display: none; width: 300px; }

div.mask { position:fixed; z-index:10001; background:#f9f9f9; width: 100%; height: 100%; }
.loader,
.loader:after { border-radius: 50%; width: 10em; height: 10em; }
.loader { margin: 60px auto; font-size: 10px; position: relative; text-indent: -9999em; border-top: 1.1em solid rgba(204,204,204, 0.2); border-right: 1.1em solid rgba(204,204,204, 0.2); border-bottom: 1.1em solid rgba(204,204,204, 0.2); border-left: 1.1em solid #cccccc; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation: load8 1.1s infinite linear; animation: load8 1.1s infinite linear; }
@-webkit-keyframes load8 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }}
@keyframes load8 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }}
